<div class="row">
    <div class="col-xs-12 col-md-6">
        <form id="form" action="/blog/create" method="POST" enctype="application/x-www-form-urlencoded" role="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" type="text" id="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea style="height: 250px;" name="content" class="form-control" id="content"></textarea>
            </div>
            <div class="row">
                <span class="col-xs-6"><a href="/blog" class="btn btn-default">Cancel</a></span>
                <span class="col-xs-6" style="text-align: right;"><button type="submit" class="btn btn-primary">Save Post</button></span>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
{{ define "creatorScript" }}
<script type="text/javascript">
	$(function(){
        var $form = $('#form');

        $form.submit(function(e){
            e.stopPropagation();

            $.post(
                $form.attr('action'),
                $form.serializeArray(),
                function(resp){
                    console.log('success');
                    console.log(arguments);
                    window.location.href = "/blog";
                },
                'json'
            ).fail(function(){
                console.log('fail');
                console.log(arguments);
            });

            return false;
        });
    });
</script>
{{ end }}
